<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
	<title>ZauchinSee</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" />
	<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.accordion.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="header-content">
				<div class="header-holder">
					<div class="header-frame">
						<h1 class="logo"><a href="#">ZauchinSee</a></h1>
						<span class="promo-logo"><a href="#"><img src="images/ski-amade.gif" alt="Ski Amage" width="83" height="15" /></a></span>
					</div>
				</div>
				<div class="info-area">
					<a href="#" class="unwired-networks">Unwired Networks</a>
					<form action="#">
						<fieldset>
							<select>
								<option>Sprachauswahl </option>
							</select>
						</fieldset>
					</form>
				</div>
			</div>
			<span class="img">
				<img src="images/img-header.jpg" alt="image"  />
			</span>
		</div>
		<div id="main">
			<div class="login-box">
				<h2>Log in</h2>
				<form action="#">
					<fieldset>
						<label for="name">Benutzername</label>
						<input type="text" id="name" />
						<label for="password">Passwort</label>
						<input type="password" id="password" />
						<input type="checkbox" id="checkbox" />
						<label for="checkbox">Die Startseite zukünftig überspringen</label>
						<input type="submit" value="Log in" />
					</fieldset>
				</form>
			</div>
		</div>
		<div id="footer">
			<a href="#" class="link-desktop">Desktop Version</a>
			<span class="secured">
				secured by
				<a href="http://www.skiamade.com/mobi/ikarus"><img src="images/ikarus.gif" alt="Ikarus" width="83" height="22" /></a>
			</span>
		</div>
		
		<div class="login-box" style="display:none;">
			<div class="content">
				<h2>Nutzungsbedingungen</h2>
				<div class="scroll-area">
					<p>Die Ski Amade GesBR, in der Folge Betreiberin, stellt ein kostenloses und frei zugängliches WLAN zur Verfügung. </p>
					<p>Die Nutzung des WLAN ist ausnahmslos nur nach vorheriger Annahme dieser Allgemeinen  Nutzungsbedingungen durch die Nutzer lorem ipsum dolor sn atem lorem dpum dolor sind …</p>
				</div>
				<a href="#" class="button">Ich stimme zu </a>
				<a href="#"><strong>Ich stimme nicht zu</strong></a>
			</div>
			<a href="#" class="close">close</a>
		</div>
	</div>
</body>
</html>
